<janna-ian-subtitle
  [title]="title"
  [subtitle]="subtitle"
  [showLemonIcon]="true"
></janna-ian-subtitle>


<div class="gift-container">
  <img src="assets/images/lemon_flowers.png" alt="lemon_slice" height="50px" width="50px">
  <img src="assets/images/lemon_flowers.png" alt="lemon_slice" height="50px" width="50px" class="flip">
  <i class="fa-solid fa-piggy-bank"></i>
  <p class="bank-account" (click)="copyToClipboard()">
    BE04 0018 9853 5631
  </p>
  <p>of</p>
  <i class="fa-regular fa-envelope"></i>
</div>

@if (showNotification) {
  <div @slideInOut class="notification">
    <p class="content"><i class="fa-solid fa-check"></i>Rekeningnummer gekopieerd</p>
  </div>
}