<div class="title">
  <h1>Janna & Ian</h1>
  <h3>gaan trouwen!</h3>
</div>

<section class="welcome">
  <div class="content">
    <p>
      Op vrijdag 1 augustus geven wij elkaar het ja-woord en vieren we in het Hof Van Beatrijs te Lier
    </p>
    <img src="assets/images/lemon_slice.png" alt="lemon_slice" height="30px">
    <p>
      We hopen dat jij er ook bij bent om samen met ons te vieren
    </p>
    <button
      class="janna-ian-button primary"
      type="button"
      [routerLink]="'/rsvp'"
    >Bevestig je aanwezigheid</button>
  </div>
</section>
