:host {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.welcome {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 330px;
  z-index: 1;

  .blue-frame {
    position: absolute;
    top: -50px;
    left: -30px;
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0 20px;
    max-width: 240px;
    z-index: 1;
  }
}

.aldero-button {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .welcome {
    margin: 0 auto;
    width: 100%;
    padding: 30px;

    .blue-frame {
      position: absolute;
      top: -50px;
      left: -30px;
      width: calc(100% + 60px);
    }

    .content {
      margin: 30px auto;
      max-width: 75%;
      
    }
  }
}

@media only screen and (min-width: 1200px) {
  .welcome {
    margin: 0 auto;
    width: 100%;
    padding: 30px;

    .blue-frame {
      position: absolute;
      top: -50px;
      left: -30px;
      width: calc(100% + 60px);
    }

    .content {
      margin: 155px auto;
      max-width: 75%;
    }
  }
}